.super-lending {
  width: 275px;
  height: 60px;
  margin-top: 40px;
  background-image: url('@/assets/swap_ag.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.content-box {
  margin-top: 40px;
  padding-top: 42px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 42px;
}