
.first {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  background-color: #5356b1;
  border-radius: 15px;
  cursor: pointer;
}
.first-disable {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  background-color: #5356b1;
  border-radius: 15px;
  cursor: default;
  background-color: #787eab;
}
.first-selected {
  background-color: #4558ee;
}
.first:hover {
  background-color: #6072fd; /* ********* */
}
.label-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}
.left-top{
  font-family: Bold, serif;
  font-size: 16px;
  font-stretch: normal;
  letter-spacing: 1px;
  line-height: 1;
  color: #fefefe;
}
.left-bottom{
  margin-top: 3.5px;
  font-family: Regular, serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0;
  color: #a9b2ff;
}
.label-right{
  flex: 1.35;
  font-family: Regular, serif;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 16px;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #fefefe;
}
